include astroLuSt/*
prune demos
prune legacy
prune templates
exclude .gitignore
exclude compile_module.py
include MANIFEST.in
include README.md
include requirements.txt
include setup.py
exclude TODOs.md
prune */__pycache__