alerce==1.4.0
astropy==7.1.0
astroquery==0.4.10
cycler==0.12.1
eleanor==2.0.5
joblib==1.5.1
matplotlib==3.10.3
numpy==2.3.0
pandas==2.3.0
polars==1.30.0
Requests==2.32.4
scikit_learn==1.7.0
scipy==1.15.3
tensorflow==2.19.0
